<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos data-table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <!-- Mis estilos -->
    <link rel="stylesheet" href="../css/estilosIframe.css">
    <title>Document</title>
</head>

<body>
    <h1>Informacion de los atletas</h1>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Atleta</th>
                <th>Edad</th>
                <th>Pais</th>
                <th>Año</th>
                <th>Fecha</th>
                <th>Deporte</th>
                <th>Oro</th>
                <th>Plata</th>
                <th>Bronce</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="tableData">

        </tbody>
    </table>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="../js/scripts.js "></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

</html>